.job-result-spin {
  height: 251px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-result-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 231px;
  padding-bottom: 20px;
}

.job-result-poster {
  width: 154px !important;
  height: 231px !important;
}

.job-result-details {
  margin-left: 20px;
}